.sub {
    width: 100%;
}

.sub-boxs {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
}

.add-box {
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.add-box-plus {
    width: 2rem;
    height: 2rem;
    color: red;
}
