.list {
    width: 100%;
    h2 {
        padding: 1.6rem;
        font-weight: 400;
    }
}

table.adv-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

tr.adv-row {
    border-bottom: 1px solid #ddd;
    width: 100%;
    th {
        padding: 0.8rem 1.6rem;
        vertical-align: middle;

        p {
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
    td {
        padding: 0.8rem 1.6rem;
        vertical-align: middle;
    }
}

.lock {
    background-color: #feebf2;
    .delete-adv {
        opacity: 0.5;
    }
}

.add-adv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border-radius: 4px;
    padding: 0.8rem 1.2rem;
    color: #3f51b5;
    border: 0.5px solid #3f51b5;
    cursor: pointer;
    margin: auto;
    &:hover {
        background-color: rgba(63, 81, 181, 0.04);
    }
}

.add-adv-icon {
    width: 2em;
    height: 2rem;
}

.adv-input {
    width: 100%;
    padding: 0.6rem 0.2rem;
    border: none;
    border: 1.5px solid transparent;
    border-bottom-color: #949494;
    background-color: transparent;
}

.var {
    border-color: red;
    outline-color: red;
    caret-color: red;
    border-radius: 4px;
    &::placeholder {
        color: red;
    }
}

.delete-adv {
    width: 2rem;
    height: 2rem;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

.status-check-input {
    background-color: #3f51b5;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
